:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.login{
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 0.3em;
    padding: 1em;
    width: 200px;
    height: 100%;
    box-shadow: 0 0 2em 0.5em rgb(118, 118, 118);
    div{
        margin: 1em 0;
        label{
            display: block;
        }
        input{
            width: 100%;
            box-sizing: border-box;
            padding: 0.3em;
        }
        button{
            background:darkblue;
            color: white;
            width: 100%;
            box-sizing: border-box;
            border: none;
            border-radius: 0.3em;
            padding: 0.3em;

        }
    }

}
.message{
    background-color: rgb(254, 197, 197);
    padding: 0.4em;
    border-radius: 0.4em;
    text-align: center;
}