/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Persian;
    src: url('/public/fonts/IRANSansWeb\(FaNum\).woff2');
}
body{
    margin: 0;
    background-color: rgb(214, 214, 214);
}
*{
    font-family: Persian;
}
