#banner{
    background-color: rgb(22, 0, 118);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    padding: 1.5em;
}
#menu{
    display:flex;
    padding: 0.5em;
    background-color: rgb(110, 155, 166);
    gap: 0.3em;
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(22, 0, 118);
        border-radius: 0.2em;
        padding: 0.3em;
        min-width: 80px;
        text-align: center;
    }
    a:hover{
        background-color: rgb(196, 219, 238);
        color: black;
    }
    .divider{
        flex: 1 1 auto;
    }
}